{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="main-content">

 
    <div class="slider" id="slider">
        <img src="{% static 'images/bb1.jpg' %}" class="cloned-pc" width="100%">
            <div id="left">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="31.589" height="44.614" viewBox="0 0 31.589 44.614"><defs><filter id="a" x="0" y="0" width="31.589" height="44.614" filterUnits="userSpaceOnUse"><feOffset dy="3" input="SourceAlpha"></feOffset><feGaussianBlur stdDeviation="3" result="b"></feGaussianBlur><feFlood flood-opacity="0.302"></feFlood><feComposite operator="in" in2="b"></feComposite><feComposite in="SourceGraphic"></feComposite></filter></defs><g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#a)"><path d="M8194.854,13316.641l9.773,13.262-9.773,13.353h3.737l9.852-13.308-9.852-13.307Z" transform="translate(8217.44 13349.25) rotate(180)" fill="#fff"></path></g></svg>
            </div>
            <div id="right">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="31.589" height="44.614" viewBox="0 0 31.589 44.614"><defs><filter id="a" x="0" y="0" width="31.589" height="44.614" filterUnits="userSpaceOnUse"><feOffset dy="3" input="SourceAlpha"></feOffset><feGaussianBlur stdDeviation="3" result="b"></feGaussianBlur><feFlood flood-opacity="0.302"></feFlood><feComposite operator="in" in2="b"></feComposite><feComposite in="SourceGraphic"></feComposite></filter></defs><g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#a)"><path d="M8194.854,13316.641l9.773,13.262-9.773,13.353h3.737l9.852-13.308-9.852-13.307Z" transform="translate(-8185.85 -13310.64)" fill="#fff"></path></g></svg>
            </div> 
              
                <div class="slide slide0 active casino-tag" id="slide1">
                <div class="pc">
                    <div class="brand-logo">
                   {% comment %} <img src="{% static 'images/bb1.jpg' %}" width="100%"> {% endcomment %}
                    </div>
                    <div class="banner-offer">
                        <div class="brand-logo-line">&nbsp;</div>
                        <p>Join Our </p>
                        <h2>Largest</h2>
                        <p>Gaming Community</p>
                    </div>
                    <div class="banner-cta-terms">
                        <div class="banner-cta" onclick="SmartButton('','register','',''); Gtm.Trigger('onboarding','CTA_Click','Sport','','CTAClick_main-banner');" target="_blank">Join Silver Games Now
                            <ul class = "navbar-nav sm-icon">
                                <li><a class = "nav-links" href="https://www.facebook.com/profile.php?id=100091564729487&mibextid=ZbWKwL" target="_blank"><i class = "bi bi-facebook"></i></a></li>
                                <li><a class = "nav-links" href="https://wa.me/16064122597" target="_blank"><i class = "bi bi-whatsapp"></i></a></li>
                                <li><a class = "nav-links" href="https://t.me/16064122597" target="_blank"><i class = "bi bi-telegram"></i></a></li>
                             </ul>
                        </div>
                      
                    </div>
                    <img src="{% static 'images/bb1.jpg' %}" class="noVideoImg" width="100%">
                
                </div>
    


            <!-- Second 2 -->

            <div class="mobile">
    <div class="brand-logo">
        
    </div>
                <img src="{% static 'images/bb1.jpg' %}" width="100%">
           
                <div class="mobile-v2">
                    <p>Join Our </p>
                        <h2>Largest</h2>
                        <p>Gaming Community</p>
                    <a class="box-offer-cta" onclick="SmartButton('888casino','register','',''); Gtm.Trigger('onboarding','CTA_Click','Casino','','CTAClick_main-banner');" target="_blank">Join Silver Games Now</a>
                    <ul class = "navbar-nav sm-icons">
                        <li><a class = "nav-link" href="https://www.facebook.com/profile.php?id=100091564729487&mibextid=ZbWKwL"><i class = "bi bi-facebook"></i></a></li>
                        <li><a class = "nav-link" href="https://wa.me/16064122597"><i class = "bi bi-whatsapp"></i></a></li>
                        <li><a class = "nav-link" href="https://t.me/16064122597"><i class = "bi bi-telegram"></i></a></li>
                     </ul>
                </div>
            </div>
        </div>
           
            <div class="slide sport-tag slide1" id="slide0">
            <div class="pc">
                <div class="brand-logo">
                    <!-- <img src="" width="100%"> -->
                </div>
                <div class="banner-offer">
                    <div class="brand-logo-line">&nbsp;</div>
                    <p>Play Slots, Play Sweepstakes</p>
                    <h2>Fish Game, Keno</h2>
                    <p>& many more online.</p>
                </div>
                <div class="banner-cta-terms">
                    <div class="banner-cta" onclick="SmartButton('','register','',''); " target="_blank">Join Silver Games Now
                        {% comment %} <a href = "{% url 'book' %}" class = "banner-cta">Book Table Now</a> {% endcomment %}
                        <ul class = "navbar-nav sm-icon">
                            <li><a class = "nav-links" href="https://www.facebook.com/profile.php?id=100091564729487&mibextid=ZbWKwL"><i class = "bi bi-facebook"></i></a></li>
                            <li><a class = "nav-links" href="https://wa.me/16064122597"><i class = "bi bi-whatsapp"></i></a></li>
                            <li><a class = "nav-links" href="https://t.me/16064122597"><i class = "bi bi-telegram"></i></a></li>
                         </ul>
                    </div>
                  
                </div>
                <img src="{% static 'images/bb3.jpg' %}" width="100%">
            </div>
            <div class="mobile">
    <div class="brand-logo">
        
    </div>
                <img src="{% static 'images/bb3.jpg' %}" width="100%"/>
    
                <div class="mobile-v2">
                    <p>Play Slots, Play Sweepstakes</p>
                    <h2>Fish Game, Keno</h2>
                    <p>& many more online.</p>

                    <a class="box-offer-cta" onclick="SmartButton('888sport','register','','');" target="_blank">Play Silver Games Now</a>
                </div>
            </div>
        </div>
           
 

        <!-- Third Slider -->

        
            <div class="slide slide2 poker-tag" id="slide2">
            <div class="pc">
    <div class="brand-logo">

    </div>
                <div class="banner-offer">
                    <div class="brand-logo-line">&nbsp;</div>
                    
                    <h2>Play Anytime, Anywhere </h2>
                    <p>Hassel free 24/7</p>
                </div>
                <div class="banner-cta-terms">
                    <div class="banner-cta" onclick="SmartButton('SilverGames','download','',''); " >Join Sliver Games Now
                        <ul class = "navbar-nav sm-icon">
                            <li><a class = "nav-links" href="https://www.facebook.com/profile.php?id=100091564729487&mibextid=ZbWKwL"><i class = "bi bi-facebook"></i></a></li>
                            <li><a class = "nav-links" href="https://wa.me/16064122597"><i class = "bi bi-whatsapp"></i></a></li>
                            <li><a class = "nav-links" href="https://t.me/16064122597"><i class = "bi bi-telegram"></i></a></li>
                         </ul>
                    </div>
                    
                </div>
                <img src="{% static 'images/bb2.jpg' %}" class="noVideoImg" width="100%">
                <video width="100%" loop="" muted="" playsinline="" poster="../images.images4us.com/888/EN/PC_BG_Poker-1647330491013_tcm1688-548334.jpg" class="noVideo">
                    
                </video>
            </div>
            <div class="mobile">
    <div class="brand-logo">
        
    </div>
                <img src="{% static 'images/bb2.jpg' %}" width="100%">
                </video>
                <div class="mobile-v2">
                    <h2>Play Anytime, Anywhere </h2>
                    <p>Hassel free 24/7</p>
                    <a class="box-offer-cta" onclick="SmartButton('888poker','download','',''); Gtm.Trigger('onboarding','CTA_Click','Poker','','CTAClick_main-banner');" target="_blank">Play Siver Games Now</a>
                </div>
            </div>
        </div>
     
           <a data-link="1" class="arrow-mobile-v2 bounce">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44.614" height="31.589" viewBox="0 0 44.614 31.589"><defs><filter id="a" x="0" y="0" width="44.614" height="31.589" filterUnits="userSpaceOnUse"><feOffset dy="3" input="SourceAlpha"></feOffset><feGaussianBlur stdDeviation="3" result="b"></feGaussianBlur><feFlood flood-opacity="0.302"></feFlood><feComposite operator="in" in2="b"></feComposite><feComposite in="SourceGraphic"></feComposite></filter></defs><g transform="matrix(1, 0, 0, 1, 0, 0)" filter="url(#a)"><path d="M8194.854,13316.641l9.773,13.262-9.773,13.353h3.737l9.852-13.308-9.852-13.307Z" transform="translate(13350.15 -8188.85) rotate(90)" fill="#fff"></path></g></svg>
        </a>
    </div>
     <div class="dots-wrapper">
        <span class="dot dot0 active">&nbsp;</span>
        <span class="dot dot1">&nbsp;</span>
        <span class="dot dot2">&nbsp;</span>
    </div>

    <!-- Offer Section -->
    <div class="banner-box-wrapper"> 
          
            <div class="box-offer casino-tag box-offer0 active">
                    <p>1st Deposit Offer</p>
                    <h2>100% BONUS</h2>
                    <p>up to $200</p>
                    <a href = "{% url 'book' %}" class = "box-offer-cta">Book Table Now</a>
        
        </div>
           
            <div class="box-offer sport-tag box-offer1">
                    <p>Bet $10</p>
                    <h2>Get $30</h2>
                    <p>in Free Bets</p>
                    <a href = "{% url 'book' %}" class = "box-offer-cta">Book Table Now</a>
        </div>
           
            <div class="box-offer box-offer2 poker-tag">
                    <p>Get</p>
                    <h2>$8 FREE</h2>
                    <p>No Deposit Needed</p>
            <a href = "{% url 'book' %}" class = "box-offer-cta">Book Table Now</a>
        
        </div>
     
   </div> 


<!-- footer  -->
<div class="footer-banners">
    <!--footer-banner-box-1--><style>
.footer-banner-box .footer-banner-box-image.casino-image {
background-image: url("{% static 'images/footer.png' %}");
}		
</style>

<div class="footer-banner-holder">
<div class="footer-banner-box casino">
<div class="footer-banner-box-image casino-image">&nbsp;</div>
<div class="footer-banner-box-text">
       
<div class="brand-content-box">


<div class="brand-name-title casino-color">Silver Games</div>

<div class="brand-large-title casino-color">Cashout Rule</div> 
<div class="brand-small-title ">Min deposit 20$
</div> 
<div class="brand-small-title ">Min Reedem 3 times</div> 
<div class="brand-medium-title ">Max 10x  per 24 hours 
   </div>	 
   <div class="brand-medium-title ">Load 200 or above and get unlimited cash out
</div>	 

</div>





<div class="brand-terms-box">
<span class="brand-terms-box-link">



<a href="#" target="_blank" onclick="addParams(this); addAnchor(this, '#tc')" rel="nofollow">Terms &amp; Conditions</a>

</span>
<p class="brand-terms-box-text"><a href="#" onclick="addParams(this); addAnchor(this, '#tc');" rel="nofollow" target="_blank" class="termsOnBanner">Terms &amp; Conditions</a></p>
</div>
</div>
</div>

<div>


</div>
</div>                        <!--footer-banner-box-2--><style>
.footer-banner-box .footer-banner-box-image.poker-image {
background-image: url("{% static 'images/footer1.png' %}");
}		
</style>

<div class="footer-banner-holder">
<div class="footer-banner-box poker">
<div class="footer-banner-box-image poker-image">&nbsp;</div>
<div class="footer-banner-box-text">
       
<div class="brand-content-box">


<div class="brand-name-title poker-color">Silver Games</div>

<div class="brand-large-title poker-color">50% sign up bonus</div> 
<div class="brand-small-title ">10% regular bonus </div> 
<div class="brand-medium-title ">25% referral Bonus</div>	 



</div>








<div class="brand-terms-box">
<span class="brand-terms-box-link">

<a href="#" target="_blank" onclick="addParams(this)" rel="nofollow">Terms &amp; Conditions</a>



</span>
<p class="brand-terms-box-text"><a href="#" onclick="addParams(this)" rel="nofollow" target="_blank" class="termsOnBanner">Terms &amp; Conditions</a></p>
</div>
</div>
</div>




<div>


</div>
</div>		</div>
 
</main>


{% endblock  %}

